extend base
block main
    article.s5
    h2 FORGET PASSWORD PAGE
        form(method="POST" action="/api/user/forgetpassword")
            .s5div
                label#email.s5l
                    | E-Mail
                input#email.s5i(type='email' name='email' placeholder=`email`)
            .signup-button
                button.btnss(href='#' type="submit") UPDATE Password