section.features
    h2 GET FOOD FAST-NOT FAST FOOD
    p.para1
        | Hello, we're Omnifood ,your new premium food delivery service. We know you are always busy.No
        | time for cooking. So, let us take care of that, we're really good at it. We promise we'll serve you to the
        | fullest.
    article.c1
        .container
            i.fas.fa-shipping-fast.icons
            h3 UPTO 365 DAYS/YEAR
            p
                | Never cook again! We really Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid,
                | reprehenderit.
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo adipisci nam qui? Reprehenderit,
                | officiis
                | cupiditate nihil nam impedit illo, minus iure suscipit fugit error commodi vero iste in ea
                | provident?
        .container
            i.far.fa-calendar-plus.icons
            h3 READY IN 20 MINUTES
            p
                | You're only twenty minutes Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
                | deserunt
                | fuga
                | ea ex nesciunt veniam voluptates iusto, suscipit vitae beatae.
        .container
            i.fas.fa-carrot.icons
            h3 100% ORGANIC
            p
                | All our vegetables are fresh Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis quos
                | tempore
                | cum
                | repudiandae optio esse corrupti dignissimos laudantium dolore earum, nobis doloremque aut itaque
                | architecto!
        .container
            i.fas.fa-boxes.icons
            h3 ORDER ANYTHING
            p
                | We don't limit your creativity Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
                | voluptatum, sequi corporis aspernatur dolores vitae nesciunt nemo incidunt, nam asperiores, id
                | perferendis
                | velit libero praesentium similique assumenda repudiandae aliquam voluptas!
section.sec2
    h2 HOW DOES IT WORKS-SIMPLE AS 1,2,3
    img.img(src='./img/Iphone.jpeg')
    main.lines
        .contain
            .num 1
            p Choose the subscription plan that best fits your needs and sign up today.
        .contain
            .num 2
            p
                | Order your delicious meal using our mobile app or website. Or you can even call us!
        .contain
            .num 3
            p  Enjoy your meal after less than 20 minutes. See you next time!.
        img.img2(src='./img/logo2.jpeg')
        img.img2(src='./img/logo1.jpeg')
section.sec3
    h2 WE'RE CURRENTLY IN THESE CITIES
    article.s3article
        .s3container
            img.s3img(src='./img/IndiaGate.jpg', alt='IndiaGate')
            h3 DELHI
            p.s3p 100+happy eaters
            p.s3p 60+ top chefs
            a.s3a(href='@omnifood_lx') @omnifood_lx
        .s3container
            img.s3img(src='./img/goldenTemple.jpg', alt='goldenTemple')
            h3 AMRITSAR
            p.s3p 3700+happy eaters
            p.s3p 160+ top chefs
            a.s3a(href='@omnifood_lx') @omnifood_lx
        .s3container
            img.s3img(src='./img/J&k.jpg', alt="Kashmir nature's beauty")
            h3 J&K
            p.s3p 1600+happy eaters
            p.s3p 110+ top chefs
            a.s3a(href='') @omnifood_lx
        .s3container
            img.s3img(src='./img/himachal.png', alt="Himachal nature's beauty")
            h3 Himachal Pradesh
            p.s3p 1200+happy eaters
            p.s3p 50+ top chefs
            a.s3a(href='@omnifood_lx') @omnifood_lx
section.sec4
    h2.s4h OUR CUSTOMERS CAN'T LIVE WITHOUT US
    article.s4article
        .s4container
            p.s4p
                | FoodieHub is just awesome! I just launched a
                | startup which leaves me with no time for
                | cooking.so FoodieHub is a life-saver.Now
                | that i got used to it,I couldn't live without my
                | daily meals!
            .customerid
                img.s4img(src='./img/kush.jpg', alt='User1-Image')
                p.s4bp Ankush Malik
        .s4container
            p.s4p
                | Inexpensive,healthy and great-tasting meals,
                | delivered right to my home.We have lots of
                | food delivery here in Lisbon,but no one
                | comes even close to FoodieHub. Me and my
                | family are so in love!
            .customerid
                img.s4img(src='./img/rathore.jpg', alt='User2-Image')
                p.s4bp Ashish Rathore
        .s4container
            p.s4p
                | I was looking for a quick and easy food
                | delivery service in San Francisco. I tried a lot
                | of them and ended up with FoodieHub. Best
                | food delivery service in the Bay Area. Keep
                | up the great work!
            .customerid
                img.s4img(src='./img/bony.jpg', alt='User3-Image')
                p.s4bp Abhinav Bhanot
include planContainer